name: CI 

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read  
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [jobs, executor, auth, products]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
        continue-on-error: true

      # C: Verify package-lock.json in root
      - name: Verify package-lock.json
        run: |
          echo "Checking package-lock.json in root..."
          if [ ! -f ./package-lock.json ]; then
            echo "Warning: package-lock.json not found in root! Continuing..."
            exit 0
          fi
          ls -la ./package-lock.json
        shell: bash
        continue-on-error: true

      # C: Setup Node and cache node_modules in root
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
        continue-on-error: true

      # C: protoc package
      - name: Setup protoc
        uses: arduino/setup-protoc@v3.0.0
        continue-on-error: true

      # C: npm install in root
      - run: npm ci --legacy-peer-deps
      - uses: nrwl/nx-set-shas@v4
      

      # C: Run nx affected in root
      - run: npx nx affected -t lint test build
        continue-on-error: true

      # C: Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        continue-on-error: true

      # C: Build and push Docker image using root context
      - name: Build and push ${{ matrix.app }} image
        uses: docker/build-push-action@v5
        with:
          context: .  # root repo as build context
          file: ./apps/${{ matrix.app }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.app }}:latest
        continue-on-error: true

      
